<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">EMERGENCY NUMBERS - KOLKATA
 

            CORONA ( COVID 19 ) HELPLINE :  011-23978046 OR 1075
            
             <br>
            
                  KOLKATA COVID 19 HELPLINE :033-22143526 , 23412600
            
             <br>
            
            STATE CONTROL ROOM : 1070
            
             <br>
            
            COVID QUERY : 1800313444222 
            
            <br> 
            
            CONTROL ROOM : 033-23571075 , 1083 , 3636
            
             
            <br>
             
            
               FOR AUTHENTIC INFORMATION ON IT VISIT : 
            
             <br>
            
               MINISTRY OF HEALTH AND FAMILY WELFARE 
            
             
            <br>
             
            
            Location	STD Code	State
            KOLKATA	033	West Bengal
             
            <br>
            Police
            
            100
            <br>
            Fire Brigade
            
            101
            <br>
            Ambulance
            
            102
            <br>
            Medical Helpline
            
            9830079999
            <br>
            Senior Citizen Helpline
            
            9830088884
            <br>
            Child Helpline
            
            1098
            <br>
            Women Helpline
            
            1091
            <br>
            TRAFFIC Helpline
            
            1073
            <br>
            ANTI POISION 
            <br>
            AIIMS : 011-26593677, 26589391
            
             <br>
            
            R.G.Kar : 18003450033 
            
             
            <br>
             
            
            POLICE
            
             
            
            Lalbazar Police Station
            
            033-22143230/3024
            <br>
            Jadavpur Police Station
            
            9433918327
            <br>
            West Bengal Control Room
            
            033-22215486, 22215415
            <br>
            Traffic Control Room
            
            033-22143644/5000
            <br>
            Police Commisioner Office
            
            033-22256060
            <br>
            Airport Police Station
            
            033-25118292
            <br>
            Aliupore Police Station
            
            033-24791021 , 24080100
            <br>
            
            All India Institute of Medical Sciences (AIIMS) New Delhi 011- 26588776
            Centralized Accident Trauma Service (CATS)  New Delhi 102, 1099
            Escort Hospital  New Delhi 011- 26825000
            Moolchand Hospital  New Delhi 011- 42000000
            Batra Hospital  New Delhi 011- 26083747
            Rajiv Gandhi Cancer Institute  New Delhi 011- 27051011 to 29
            Sir Ganga Ram Hospital New Delhi 011- 25750000, 25757575
            Vidyasagar Institute of Mental Health and NeuroSciences (VIMHANS)  New Delhi 011- 26924302
            Max Emergency Ambulance  New Delhi 011- 40554055
            
            gallery/police</h1>
        
      </div>
    </div>
  </section>