<table>
    <thead>
    <tr class="row-1 odd">
    <th class="column-1">Name</th>
    <th class="column-2">Category</th>
    <th class="column-3">Address</th>
    <th class="column-4">Phone</th>
    </tr>
    </thead>
    <tbody class="row-hover">
    <tr class="row-2 even">
    <td class="column-1">93 Ward Sport &amp; Dev Association</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">2/22, Poddar Nagar, Jodhpur Park, Kolkata &#8211; 700068</td>
    <td class="column-4">24730676</td>
    </tr>
    <tr class="row-3 odd">
    <td class="column-1">Amra Kajan Club</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">Naihati &#8211; 743165</td>
    <td class="column-4">25811997</td>
    </tr>
    <tr class="row-4 even">
    <td class="column-1">Automobile Association of Eastern Region</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">13, Pramathesh Barua Sarani, Kolkata &#8211; 700019</td>
    <td class="column-4">24755131</td>
    </tr>
    <tr class="row-5 odd">
    <td class="column-1">barasat Citizen Forum</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">Kalkapur, Barasat, Kolkata &#8211; 700124</td>
    <td class="column-4">25525595</td>
    </tr>
    <tr class="row-6 even">
    <td class="column-1">Bharat Relief Society</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">42, Zakaria Street, Tiretta bazar, Kolkata &#8211; 700073</td>
    <td class="column-4">22342670</td>
    </tr>
    <tr class="row-7 odd">
    <td class="column-1">Blue belle Nurse Bureau</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">35A, S P Mukherjee Road, bhowanipore , Kolkata &#8211; 700025</td>
    <td class="column-4">24754670</td>
    </tr>
    <tr class="row-8 even">
    <td class="column-1">Dhakuria Club Samanway Samiti</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">2/48, Sahid nagar, Dhakuria, Kolkata &#8211; 700031</td>
    <td class="column-4">24154934</td>
    </tr>
    <tr class="row-9 odd">
    <td class="column-1">Happy Calcuttans</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">8, Suren Tagore Road, Ballygunge, Kolkata &#8211; 7000191</td>
    <td class="column-4">24400160</td>
    </tr>
    <tr class="row-10 even">
    <td class="column-1">Jadavpur Byabsayi samiti</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">55, Central Road, Jadavpur, Kolkata &#8211; 700032</td>
    <td class="column-4">28670132</td>
    </tr>
    <tr class="row-11 odd">
    <td class="column-1">Jain Kalyan sangha</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">265E, Rabindra Sarani, Barabazar, Kolkata &#8211; 700007</td>
    <td class="column-4">22740690</td>
    </tr>
    <tr class="row-12 even">
    <td class="column-1">Kolkata Medical Hospital</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">88, College Street, Tiretta bazar, Kolkata &#8211; 700073</td>
    <td class="column-4">22414901</td>
    </tr>
    <tr class="row-13 odd">
    <td class="column-1">Lansdowne Nursing Home</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">119, Sarat Bose Road, Kolkata &#8211; 700026</td>
    <td class="column-4">24749175</td>
    </tr>
    <tr class="row-14 even">
    <td class="column-1">Nagarik Swastha Sangha</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">9, Sovaram Basak Street, Barabazar, Kolkata &#8211; 700001</td>
    <td class="column-4">22744324</td>
    </tr>
    <tr class="row-15 odd">
    <td class="column-1">South Calcutta Nurses Bureau</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">42/11, B mondal Road, Haltu, Kolkata &#8211; 700078</td>
    <td class="column-4">24160992</td>
    </tr>
    <tr class="row-16 even">
    <td class="column-1">St. John\&#8217;s Ambulance</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">5, Govt. Place, BBD bag, Kolkata 8211; 700007</td>
    <td class="column-4">22485277</td>
    </tr>
    <tr class="row-17 odd">
    <td class="column-1">St. John\&#8217;s Ambulance (Yollygunge)</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">41?1A, G D sarani, Bhowanipore, Kolkata &#8211; 700025</td>
    <td class="column-4">24761935</td>
    </tr>
    <tr class="row-18 even">
    <td class="column-1">Wochhardt Medical Centre</td>
    <td class="column-2">Ambulance Service</td>
    <td class="column-3">2/7, Sarat Bose Road, Lala lajpat Rai Sarani, Kolkata &#8211; 700027</td>
    <td class="column-4">24754320</td>
    </tr>
    <tr class="row-19 odd">
    <td class="column-1">Nayan AYA Center</td>
    <td class="column-2">Aya Center</td>
    <td class="column-3">Sulangguri Police Camp, Near Netaji Tarun Sanga Club, Gouranganagar, P.S New Town, Aswini Nagar, Kolkata &#8211; 700159, W.B., India</td>
    <td class="column-4">9874736892, 9331685808, 8017557402</td>
    </tr>
    <tr class="row-20 even">
    <td class="column-1">AMRI Apollo</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">P &#8211; 4, CIT Scheme, Block A, Gariahat Road (S), Kolkata &#8211; 700068</td>
    <td class="column-4">24612626</td>
    </tr>
    <tr class="row-21 odd">
    <td class="column-1">Ashok Blood Bank</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">308, Jodhpur Park, Kolkata &#8211; 700006</td>
    <td class="column-4">24720333</td>
    </tr>
    <tr class="row-22 even">
    <td class="column-1">Assembly of God Church Hospital</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">Park Street, Kolkata &#8211; 700017</td>
    <td class="column-4">22294886</td>
    </tr>
    <tr class="row-23 odd">
    <td class="column-1">Belle View Clinic</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">9, U N Brahmachari Street, Kokata &#8211; 700017</td>
    <td class="column-4">22472321</td>
    </tr>
    <tr class="row-24 even">
    <td class="column-1">CMRI</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">7/2, Diamond Harbour Road, Kolkata &#8211; 700027</td>
    <td class="column-4">24567700</td>
    </tr>
    <tr class="row-25 odd">
    <td class="column-1">Central Blood Bank</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">205, Vivekananda Road, Kolkata &#8211; 700006</td>
    <td class="column-4">23510619</td>
    </tr>
    <tr class="row-26 even">
    <td class="column-1">National Medical College Hospital</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">242, Gorachand Road, Kolkata &#8211; 700014</td>
    <td class="column-4">22440122</td>
    </tr>
    <tr class="row-27 odd">
    <td class="column-1">Peoples Blood Bank</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">90A, S P Mukherjee Road, Kolkata &#8211; 700026</td>
    <td class="column-4">24555567</td>
    </tr>
    <tr class="row-28 even">
    <td class="column-1">Ram Krishna Mission Seva Pratisthan</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">99, Sarat Bose Road, Kolkata &#8211; 700026</td>
    <td class="column-4">24753639</td>
    </tr>
    <tr class="row-29 odd">
    <td class="column-1">Swasti Clinical Lab</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">89, Sarat Bose Road, Kolkata &#8211; 700026</td>
    <td class="column-4">24752575</td>
    </tr>
    <tr class="row-30 even">
    <td class="column-1">Specialist Corner</td>
    <td class="column-2">Blood Bank</td>
    <td class="column-3">95, Salkia School Road, Howrah &#8211; 711106</td>
    <td class="column-4">26659511</td>
    </tr>
    <tr class="row-31 odd">
    <td class="column-1">Apollo Gleneagles Hospital, Chemists Shops</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">58, Canal Circular Road, Kolkata &#8211; 700054</td>
    <td class="column-4">23585211</td>
    </tr>
    <tr class="row-32 even">
    <td class="column-1">Bonne Sante</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">233, AJC Bose Road, Kolkata &#8211; 700020</td>
    <td class="column-4">22875675</td>
    </tr>
    <tr class="row-33 odd">
    <td class="column-1">Dhanwantary</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">65, Diamond harbour Road, Kolkata &#8211; 700023</td>
    <td class="column-4">24495542</td>
    </tr>
    <tr class="row-34 even">
    <td class="column-1">Hazra Medical Stores</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">62/1 C. Diamond Harbour Road, Kolkata &#8211; 700023</td>
    <td class="column-4">24496993</td>
    </tr>
    <tr class="row-35 odd">
    <td class="column-1">Jibandeep</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">114/B, Hazra Road, Kolkata &#8211; 700026</td>
    <td class="column-4">24550926</td>
    </tr>
    <tr class="row-36 even">
    <td class="column-1">Kaya Kalp</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">P- 689, Lake Town, Block A, Kolkata &#8211; 700089</td>
    <td class="column-4">25218432</td>
    </tr>
    <tr class="row-37 odd">
    <td class="column-1">Life Care Medical Service</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">1/2A, Hazra Road, Kolkata &#8211; 700026</td>
    <td class="column-4">24754628</td>
    </tr>
    <tr class="row-38 even">
    <td class="column-1">Lokenath Pharmecy</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">P &#8211; 493, Keyatala Road, Kolkata &#8211; 700029</td>
    <td class="column-4">24641881</td>
    </tr>
    <tr class="row-39 odd">
    <td class="column-1">Nandan Medical Stores</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">DD &#8211; 35, Seba Hospital, Salt Lake, Kolkata &#8211; 700064</td>
    <td class="column-4">23581723</td>
    </tr>
    <tr class="row-40 even">
    <td class="column-1">Park Medical Stores</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">GD market, Tank No. 12, Salt Lake, Kolkata &#8211; 700091</td>
    <td class="column-4">28660589</td>
    </tr>
    <tr class="row-41 odd">
    <td class="column-1">S D Pharmecy</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">22, Gariahat Road, Kolkata &#8211; 700029</td>
    <td class="column-4">24407945</td>
    </tr>
    <tr class="row-42 even">
    <td class="column-1">The Apollo Clinic</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">168, GT Road, Shibpore, Howrah &#8211; 711102</td>
    <td class="column-4">26427019</td>
    </tr>
    <tr class="row-43 odd">
    <td class="column-1">Tunir Medical Hall</td>
    <td class="column-2">Chemists &#8211; 24 Hours</td>
    <td class="column-3">67, Babu Bagan Lane, Kolkata &#8211; 700031</td>
    <td class="column-4">24726351</td>
    </tr>
    <tr class="row-44 even">
    <td class="column-1">Broad View Clinic</td>
    <td class="column-2">Clinic</td>
    <td class="column-3">23/1, Broad Street, Bullygunge, Kolkata &#8211; 700019</td>
    <td class="column-4">22474421</td>
    </tr>
    <tr class="row-45 odd">
    <td class="column-1">Dr. B N Basu Memorial Clinic</td>
    <td class="column-2">Clinic</td>
    <td class="column-3">34B, Jatin Das Road, Kolkata &#8211; 700029</td>
    <td class="column-4">24661774</td>
    </tr>
    <tr class="row-46 even">
    <td class="column-1">ILS Multi Speciality Clinic</td>
    <td class="column-2">Clinic</td>
    <td class="column-3">DD &#8211; 6, Sector &#8211; 1, Salt lake City, Kolkata &#8211; 700064</td>
    <td class="column-4">23593700</td>
    </tr>
    <tr class="row-47 odd">
    <td class="column-1">Southend Poly Clinic</td>
    <td class="column-2">Clinic</td>
    <td class="column-3">203, Sarat Bose Road, Kolkata &#8211; 700029</td>
    <td class="column-4">24662433</td>
    </tr>
    <tr class="row-48 even">
    <td class="column-1">Alipore Endosurg</td>
    <td class="column-2">Clinic</td>
    <td class="column-3">23, Baker Road, Alipore, Kolkata &#8211; 700027</td>
    <td class="column-4">24791158</td>
    </tr>
    <tr class="row-49 odd">
    <td class="column-1">Ae Specialist Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">AE-676, Sector &#8211; 1, Salt Lake, Kolkata &#8211; 700064</td>
    <td class="column-4">23341617</td>
    </tr>
    <tr class="row-50 even">
    <td class="column-1">Eko MRI Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">54, JL Nehru Road, Kolkata &#8211; 700017</td>
    <td class="column-4">22828105</td>
    </tr>
    <tr class="row-51 odd">
    <td class="column-1">Drs. Trivedi and Roy</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">99, Park Street, Kolkata &#8211; 700016</td>
    <td class="column-4">22268789</td>
    </tr>
    <tr class="row-52 even">
    <td class="column-1">Apollo Gleneagles Clinic</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">48/1 F, Leela Roy Sarani, Gariahat, Kolkat &#8211; 700019</td>
    <td class="column-4">24746028</td>
    </tr>
    <tr class="row-53 odd">
    <td class="column-1">Allergy &amp; Asthma Treatment Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">48/7\&#8217; Purna das Road, Kolkata &#8211; 700029</td>
    <td class="column-4">24640764</td>
    </tr>
    <tr class="row-54 even">
    <td class="column-1">Alipore Diagnostic Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">11/C, Chetla Central Road, Kolkata &#8211; 700027</td>
    <td class="column-4">24480769</td>
    </tr>
    <tr class="row-55 odd">
    <td class="column-1">Amplicon &#8211; isn Advance Diagnostics</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">6, Russel Street, Russel mansion, 1st Floor, Kolkata &#8211; 700071</td>
    <td class="column-4">22274050</td>
    </tr>
    <tr class="row-56 even">
    <td class="column-1">B K Dutta Memorial Medical Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">4K, Ballygunge Station Road, Kolkata &#8211; 700019</td>
    <td class="column-4">24611512</td>
    </tr>
    <tr class="row-57 odd">
    <td class="column-1">Balaji Diagnostic</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">188/35A, Lake Gardens, Gobindapur Road, Kolkata &#8211; 700045</td>
    <td class="column-4">24225977</td>
    </tr>
    <tr class="row-58 even">
    <td class="column-1">Bidisha Medical Services</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">15/1, Ibrahimpur Road, Jadavput, Kolkata &#8211; 700032</td>
    <td class="column-4">24724331</td>
    </tr>
    <tr class="row-59 odd">
    <td class="column-1">Calcutta Diagnostic Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">79, Sambhunath Pandit Street, Kokata &#8211; 700020</td>
    <td class="column-4">24548346</td>
    </tr>
    <tr class="row-60 even">
    <td class="column-1">Chikitsa Medicare Centre Pvt. Ltd.</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">6, Diamond Harbour Road, Kokata &#8211; 700034</td>
    <td class="column-4">24451175</td>
    </tr>
    <tr class="row-61 odd">
    <td class="column-1">Diagnostic Cure Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">39, Gariahat Road, Kolkata &#8211; 700031</td>
    <td class="column-4">24730569</td>
    </tr>
    <tr class="row-62 even">
    <td class="column-1">Amoy Polyclinic &amp; Diagnostic Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">40D, Gariahat Road, Kolkata &#8211; 700031</td>
    <td class="column-4">24148863</td>
    </tr>
    <tr class="row-63 odd">
    <td class="column-1">Apex Diagnostic Laboratory</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">92B, Jhowtala Road, Kolkata &#8211; 700017</td>
    <td class="column-4">22809503</td>
    </tr>
    <tr class="row-64 even">
    <td class="column-1">Arogya Niketan Dental Clinic</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">123/10C, Ray Bahadur Road, Kolkata &#8211; 700034</td>
    <td class="column-4">24031238</td>
    </tr>
    <tr class="row-65 odd">
    <td class="column-1">Bagla Pharmecy</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">235, S N Roy Road, Kolkat &#8211; 700038</td>
    <td class="column-4">24400010</td>
    </tr>
    <tr class="row-66 even">
    <td class="column-1">Calcutta medical Centre Limited</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">12, Loudon Street, Kolkata &#8211; 700017</td>
    <td class="column-4">22401333</td>
    </tr>
    <tr class="row-67 odd">
    <td class="column-1">Dhakuria Sarada health Education</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">60, Station Road, Dhakuria, Kolkata &#8211; 700031</td>
    <td class="column-4">24129668</td>
    </tr>
    <tr class="row-68 even">
    <td class="column-1">Insttute of Pulmocare &amp; Research</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">CB &#8211; 16, Sector -1, Salt Lake City, Kolkata &#8211; 700064</td>
    <td class="column-4">23580424</td>
    </tr>
    <tr class="row-69 odd">
    <td class="column-1">Health Care Diagnostics Centre</td>
    <td class="column-2">Diagnostic Centre</td>
    <td class="column-3">5/46 Bijoygarh. Kolkata-700092</td>
    <td class="column-4">24121042</td>
    </tr>
    <tr class="row-70 even">
    <td class="column-1">Anandamoyee</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">10A, Mahalaya Lane, Kalighat, Kolkata &#8211; 700026</td>
    <td class="column-4">24645804</td>
    </tr>
    <tr class="row-71 odd">
    <td class="column-1">Angel Nurses Bureau</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">3B, Deb Lane, Sealdah, Kolkat &#8211; 700014</td>
    <td class="column-4">22440522</td>
    </tr>
    <tr class="row-72 even">
    <td class="column-1">Blue bells Nurses Bureau</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">35A, S P Mukherjee Road, Bhowanipore, Kolkata &#8211; 700025</td>
    <td class="column-4">24754670</td>
    </tr>
    <tr class="row-73 odd">
    <td class="column-1">Blue Cross</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">60!, Maharaja tagore Road, Dhakuria, Kolkata &#8211; 700031</td>
    <td class="column-4">24148259</td>
    </tr>
    <tr class="row-74 even">
    <td class="column-1">Deb Ashis</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">8/40 B, Fern Road, Ballygunge, Kolkata &#8211; 700019</td>
    <td class="column-4">24401517</td>
    </tr>
    <tr class="row-75 odd">
    <td class="column-1">Fast Aid</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">24B, Garcha 1st lane, Ballygunge, Kolkata &#8211; 700019</td>
    <td class="column-4">24619869</td>
    </tr>
    <tr class="row-76 even">
    <td class="column-1">Florence Nursing Centre</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">49/1A, Dr. L M Bhattacharyya Road, Sealdah, Kolkata &#8211; 700014</td>
    <td class="column-4">22446285</td>
    </tr>
    <tr class="row-77 odd">
    <td class="column-1">Ideal Nurses Chamber</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">487, Rabindra sarani, Hatkhola, kolkat &#8211; 700005</td>
    <td class="column-4">25543636</td>
    </tr>
    <tr class="row-78 even">
    <td class="column-1">Lady Roger\&#8217;s Nursing Hostel</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">44, Lala lajpat rai sarani, Kolkata &#8211; 700020</td>
    <td class="column-4">24751003</td>
    </tr>
    <tr class="row-79 odd">
    <td class="column-1">Lifeline</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">Sarsoona, Kolkata &#8211; 700061</td>
    <td class="column-4">24982903</td>
    </tr>
    <tr class="row-80 even">
    <td class="column-1">Loknath</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">K G Basu Sarani, Kolkata &#8211; 700085</td>
    <td class="column-4">23522763</td>
    </tr>
    <tr class="row-81 odd">
    <td class="column-1">Nurses Chamber</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">10 B, Dr. Kartick Bose Street, Armharst Street, Kolkata &#8211; 700009</td>
    <td class="column-4">23502929</td>
    </tr>
    <tr class="row-82 even">
    <td class="column-1">Nurses Colony</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">2, Muktaram Babu Street, Baranagar, Kolkata &#8211; 700007</td>
    <td class="column-4">22693495</td>
    </tr>
    <tr class="row-83 odd">
    <td class="column-1">Nurses Union</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">41, Ismail Street, Sealdah, Kolkata &#8211; 700014</td>
    <td class="column-4">22443281</td>
    </tr>
    <tr class="row-84 even">
    <td class="column-1">sarada Health Education Service</td>
    <td class="column-2">Nursing Service</td>
    <td class="column-3">60, Dhakuria Station Road,Dumdum-700031</td>
    <td class="column-4">24129668</td>
    </tr>
    <tr class="row-85 odd">
    <td class="column-1">D &amp; S Ambulance</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">59/1, Krishnapur, Kolkata &#8211; 700017</td>
    <td class="column-4">9830354617</td>
    </tr>
    <tr class="row-86 even">
    <td class="column-1">Drug Hut</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">58/100 Prince Anwar Shah Road, Kolkata &#8211; 700045</td>
    <td class="column-4">24179710</td>
    </tr>
    <tr class="row-87 odd">
    <td class="column-1">Eastern Oxygen Company</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">153/1A, Diamond Harbour Road, Kolkata &#8211; 700034</td>
    <td class="column-4">24787989</td>
    </tr>
    <tr class="row-88 even">
    <td class="column-1">Indian Life Saving Society</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">Rabindra Sarobar, Kolkata &#8211; 700029</td>
    <td class="column-4">24665359</td>
    </tr>
    <tr class="row-89 odd">
    <td class="column-1">K R Lynch &amp; Co.</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">113, C R Avenue, Kolkata &#8211; 700073</td>
    <td class="column-4">22372182</td>
    </tr>
    <tr class="row-90 even">
    <td class="column-1">Life Deep Medical Complex</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">141 B, Rashbehari Avenue, Kolkata &#8211; 700029</td>
    <td class="column-4">28700278</td>
    </tr>
    <tr class="row-91 odd">
    <td class="column-1">Oxygen Uduog</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">258A, APC Road, Manicktala, Kolkata &#8211; 700006</td>
    <td class="column-4">23543141</td>
    </tr>
    <tr class="row-92 even">
    <td class="column-1">Samghati Medical Store</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">65/12, Jotish Roy Road, Kolkata &#8211; 700053</td>
    <td class="column-4">24007296</td>
    </tr>
    <tr class="row-93 odd">
    <td class="column-1">Woodlands Hospital &amp; Medicine Research Centre Ltd</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">8/5, Alipur Road, Kolkata &#8211; 700027</td>
    <td class="column-4">24567078, 24567077, 24567079, 24567080</td>
    </tr>
    <tr class="row-94 even">
    <td class="column-1">Ramkanai Medical Stores</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">128/1, Bidhan Sarani, Kolkata &#8211; 700004</td>
    <td class="column-4">25553239</td>
    </tr>
    <tr class="row-95 odd">
    <td class="column-1">Saha Nursing Centre</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">400/A/1, Opposite South City Mall, Prince Anwar Shah Road, Lake Gardens, Kolkata &#8211; 700045</td>
    <td class="column-4">24838830, 9831021017, 9831058299</td>
    </tr>
    <tr class="row-96 even">
    <td class="column-1">Lansdowne Nursing Home</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">119, Sarat Bose Road, Rashbehari Avenue, Kolkata &#8211; 700026</td>
    <td class="column-4">24740669, 24546442, 24749175, 24762865, 9239018560</td>
    </tr>
    <tr class="row-97 odd">
    <td class="column-1">South Calcutta Nurses Bureau</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">42/11, Safuipara Bus Stopo R Shivtala School, Behari Mondal Rd, Jadavpur University, Kolkata &#8211; 700032</td>
    <td class="column-4">24160992, 24844322, 9831022308, 9432674322</td>
    </tr>
    <tr class="row-98 even">
    <td class="column-1">Seva Medical Hall</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">103, A P C Road, Raja Ram Mohan Roy Sarani, Kolkata &#8211; 700009</td>
    <td class="column-4">23501596</td>
    </tr>
    <tr class="row-99 odd">
    <td class="column-1">Aswini Nagar Welfare Society</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">20c, P.o Regent Park, Aswini Nagar, Regent Park, Kolkata &#8211; 700040</td>
    <td class="column-4">24112323, 9831138835</td>
    </tr>
    <tr class="row-100 even">
    <td class="column-1">Sonarpur Thana Club Samannay Sammilani</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">Railway Quarter Park, Sonarpur, Kolkata &#8211; 700150</td>
    <td class="column-4">24343769, 24347198</td>
    </tr>
    <tr class="row-101 odd">
    <td class="column-1">Health Care Nurses Bureau</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">42/11, Bihari Mondal Rd, Haltu, Kolkata &#8211; 700078</td>
    <td class="column-4">24164675</td>
    </tr>
    <tr class="row-102 even">
    <td class="column-1">Barasat Citizen Forum</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">Near Kalikapur, Taki Road, Barasat H Q, Kolkata &#8211; 700124</td>
    <td class="column-4">25525595, 9830495857</td>
    </tr>
    <tr class="row-103 odd">
    <td class="column-1">Bharat Oxygen</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">136/7, Diamond Harbour Road, Kolkata &#8211; 700063</td>
    <td class="column-4">24976176, 24976813</td>
    </tr>
    <tr class="row-104 even">
    <td class="column-1">Sangeeta Medico</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">774,Block P, New Alipore, New Alipur, Kolkata &#8211; 700053</td>
    <td class="column-4">32514165, 65105415</td>
    </tr>
    <tr class="row-105 odd">
    <td class="column-1">Gujrati Relief Society</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">20, Pollock Street, Dalhousie, Kolkata &#8211; 700001</td>
    <td class="column-4">22359585, 22155188</td>
    </tr>
    <tr class="row-106 even">
    <td class="column-1">Blue Print</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">20 A, Near Dhakuria Bus Stop, Gariahat Road, Dhakuria, Kolkata &#8211; 700031</td>
    <td class="column-4">69434022, 24838453, 28672292</td>
    </tr>
    <tr class="row-107 odd">
    <td class="column-1">Kansaribari Medical Bank</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">7, Rasiklal Ghosh Lane, Hatkhola, Kolkata &#8211; 700005</td>
    <td class="column-4">25557852, 28730642, 28730713, 25540084, 9831062157</td>
    </tr>
    <tr class="row-108 even">
    <td class="column-1">Life Care Medical Service</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">1/2 A, Hazra Road (Near Hazra More), Kalighat, Kolkata &#8211; 700026</td>
    <td class="column-4">24754628, 24751691</td>
    </tr>
    <tr class="row-109 odd">
    <td class="column-1">Rabindranath Tagore International Institute Of Cardiac Sciences</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">124, Near Santoshpur Connector, Mukundapur, E M Bypass, Kalikapur, Kolkata &#8211; 700099</td>
    <td class="column-4">24364000, 30014000, 9903038369, 9831911760</td>
    </tr>
    <tr class="row-110 even">
    <td class="column-1">SAB Rescare</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">60d/1a, Near I D Hospital, Dr S C Banerjee Rd, Kolkata &#8211; 700010</td>
    <td class="column-4">9830022224, 9830036863, 9830736863</td>
    </tr>
    <tr class="row-111 odd">
    <td class="column-1">Nrs Medical College &amp; Hospital</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">138, A J C Bose Road, Entally, Kolkata &#8211; 700014</td>
    <td class="column-4">22274001, 22653214, 22653215, 22653216</td>
    </tr>
    <tr class="row-112 even">
    <td class="column-1">Spandan</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">4b, Near Lake Market, Parasar Road, Sarat Bose Road (near Deshopriya Park), Kolkata &#8211; 700029</td>
    <td class="column-4">24669813, 24664168, 9339859725</td>
    </tr>
    <tr class="row-113 odd">
    <td class="column-1">Charu Medical Hall</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">24, Raja S C Mullick Road, Kolkata &#8211; 700032</td>
    <td class="column-4">24122609</td>
    </tr>
    <tr class="row-114 even">
    <td class="column-1">Nandan Medical Centre</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">Dd 35,Sector 1, Salt Lake City, Kolkata &#8211; 700064</td>
    <td class="column-4">23581723, 23589617, 9831041353</td>
    </tr>
    <tr class="row-115 odd">
    <td class="column-1">Lansdowne Nursing Home</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">119, Sarat Bose Road, Rashbehari Avenue, Kolkata &#8211; 700026</td>
    <td class="column-4">24740669, 24546442, 24749175, 24762865, 9239018560</td>
    </tr>
    <tr class="row-116 even">
    <td class="column-1">Nirmala Seva Kendra</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">110/21a, Near Sitla Mandir, Salimpur Road, Kolkata &#8211; 700031</td>
    <td class="column-4">64532245, 9230526231, 9230518968</td>
    </tr>
    <tr class="row-117 odd">
    <td class="column-1">Medical College &amp; Hospital</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">88, College Street (Tiretta Bazar), Colootola, Kolkata &#8211; 700073</td>
    <td class="column-4">22570116, 22414070, 22198271</td>
    </tr>
    <tr class="row-118 even">
    <td class="column-1">Shri Aurobindo Seva Kendra</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">1 H, Gariahat Road South, Kolkata &#8211; 700068</td>
    <td class="column-4">24729343, 24726479, 24736977, 24733601</td>
    </tr>
    <tr class="row-119 odd">
    <td class="column-1">New Union Nursing Home Pvt Ltd</td>
    <td class="column-2">Oxygen Services</td>
    <td class="column-3">6, Robinson St, Kolkata &#8211; 700017</td>
    <td class="column-4">22873535, 22873536, 9903595902, 9836304437</td>
    </tr>
    </tbody>
    </table>